.container {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.box1 {
  width: 70px;
  height: 70px;
  background-color: yellow;
  border: black inset 1px;

}

.box2 {
  width: 70px;
  height: 70px;
  background-color: green;
  border: black inset 1.5px;
  margin-top: 35px;
  margin-left: 10px;
  margin-right: 10px;
}

.box3 {
  width: 70px;
  height: 70px;
  background-color: yellow;
  border: black inset 1.5px;
}

.box4 {
  width: 70px;
  height: 70px;
  background-color: green;
  border: black inset 1.5px;
  margin-top: 35px;
  margin-left: 10px;
  margin-right: 10px;
}

.box5 {
  width: 70px;
  height: 70px;
  background-color: yellow;
  border: black inset 1.5px;
}

.box6 {
  width: 70px;
  height: 70px;
  background-color: green;
  border: black inset 1.5px;
  margin-top: 35px;
  margin-left: 10px;
  margin-right: 10px;
}

.box7 {
  width: 70px;
  height: 70px;
  background-color: yellow;
  border: black inset 1.5px;
}

.box8 {
  width: 70px;
  height: 70px;
  background-color: green;
  border: black inset 1.5px;
  margin-top: 35px;
  margin-left: 10px;
  margin-right: 10px;
}

.box9 {
  width: 70px;
  height: 70px;
  background-color: yellow;
  border: black inset 1.5px;
}

.box10 {
  width: 70px;
  height: 70px;
  background-color: green;
  border: black inset 1.5px;
  margin-top: 35px;
  margin-left: 10px;
}