body {
  margin: 0;
}

p {
  margin: 0 auto 0 auto;
  font-size: 300%;
  color: white;
}

.column-one {
  display: flex;
  flex: 50%;
  height: 100vh;
  background-color: orange;
  align-items: center;
  text-align: center;
}

.column-two {
  display: flex;
  flex: 50%;
  height: 100vh;
  background-color: blue;
  align-items: center;

}

.row {
  display: flex;
}